<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MAES_Maxime_projet_BD.Properties.Settings.BD_VoitureConnectionString"
            connectionString="Data Source=DESKTOP-92O2I75;Initial Catalog=BD_Voiture;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MAES_Maxime_projet_BD.Properties.Settings.BD_VoitureConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=BD_Voiture;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MAES_Maxime_projet_BD.Properties.Settings.BD_Voiture_MDF"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BD_Voiture.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="MAES_Maxime_projet_BD.Properties.Settings.BD_VoitureConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Maesm\Desktop\MAES_Maxime_projet_BD_V2\BD\BD_Voiture.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>